@model Domain.RsaEncryptPoco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RsaEncryptPoco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimeP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimeP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimeQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimeQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncryptedMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncryptedMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
