@model Domain.DiffieHellmanPoco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiffieHellmanPoco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedPrime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedPrime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecretA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecretA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecretB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecretB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedSecret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedSecret)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
